Jinja2==3.1.2
keras==2.13.1
numpy==1.24.3
pandas==2.0.3
Pillow==10.0.1
streamlit==1.27.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
Werkzeug==2.3.7
